.disabled{
	background-color: #eee;
	opacity: 1;
}
.inline{display: inline-block;float: right}
.form-control[readonly]{cursor:default !important;}
td .hidden-phone a{margin-right: 10px}
a[text=Cancelar]{margin-left: 15px}
table.table-subcatalogo{height: 100% !important}
#reporte{
	height: 450px;
	display: block;
}